<!--タスク編集画面（/tasks/:id/edit）を作成するために、以下ファイルを新規作成します。-->

<h1>タスク編集</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>